<li>
  <div class="am-cf inner_li inner_li_abtest">
    <span class="undefined mark h5_mark">{{data.tag}}</span>
    <a href="/article/{{data.id}}">
      <div class="img_box list-img-loaded">
        <div>
          <img alt="{{data.title}}" class="load-img fade" src="http://localhost:8090/img?src={{data.src}}">
        </div>
        <span class=" undefined mark pc_mark">{{data.tag}}</span>
      </div>
      <div class="intro">
        <h3>{{data.title}}</h3>
        <div class="abstract">{{data.summary}}</div>
      </div>
    </a>
    <div class="info">
      <div class="info-list info-list-abtest">
        <div class="user-info">
          <a href="{{data.author.href}}" class="name">{{data.author.title}}</a>
          <span class="oblique_line">·</span>
        </div>
        <div class="time-div">
          <span class="time" title="{{data.time*1000|mktime}}">{{data.time*1000|mktime}}</span>
          <span class="time h5_time">{{data.time*1000|mktime}}</span>
        </div>
      </div>
      <div class="tags-list">
        <i class="icon-tag">
        </i>
        <span *ngFor="let cate of data.catalogs; trackBy id; let i=index">
          <a href="{{cate.href}}">{{cate.name}}</a>
          <span *ngIf="i<data.catalogs.length-1">，</span>
        </span>
      </div>
      <div class="comments-list">
        <span class="comments">
        </span>
      </div>
    </div>
  </div>
</li>
